<div *ngFor="let tmp of scorelist">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10">
        <div class="card text-white bg-secondary">
          <div class="card-body">
            <h3 class="card-title">{{ tmp.courseName }}{{ "  (" + tmp.playDate.substring(0,10) + ")" }}</h3>
            <div class="text-start">
              <a routerLink="{{ tmp.player }}/{{ tmp._id }}">
                <div class="btn btn-primary">スコア表示</div>
              </a>
            </div>
            <br>
            <p class="card-text">
              {{ tmp.name1 }}<br>
              {{ tmp.name2 }}<br>
              {{ tmp.name3 }}<br>
              {{ tmp.name4 }}
            </p>
            <div class="text-end">
              <div class="btn btn-danger btn-sm" (click)="deleteData( tmp._id )">データ削除</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
</div>
